<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
     <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    {{#if id}}
    <div class="max-w-2xl mt-4 mx-auto bg-indigo-600 shadow-lg rounded-2xl mt-50">
        <div class="px-6 py-5">
            <div class="flex items-start">
            <div class="flex-grow truncate">
                <div class="w-full sm:flex justify-between items-center mb-3">
                <h2 class="text-2xl leading-snug font-extrabold text-gray-50 truncate mb-1 sm:mb-0">TICKET : {{id}}</h2>
                </div>
                <div class="flex items-end justify-between whitespace-normal">
                <div class="max-w-md text-indigo-100">
                    <h2>Date : {{date}}</h2>
                    <h2>Lieu : {{lieu}}</h2>
                    <h2>Montant : {{montant}}</h2>
                </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</body>
</html>